.itemList {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 10px;
    background-color: #363636;
    border-radius: 7px;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 10%;
        width: 2px;
        background-color: #020000f8;
        transform: translateX(-50%);
    }

    .itemDay {
        font-size: 14px;
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dayOfWeek {
            font-size: 12px;
            color: #666363f8;
        }
    }

    .item {
        display: flex;
        align-items: center;
    }

    .itemColor {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        text-transform: lowercase;
    }

    .itemInfo {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 7px;
        border-bottom: 2px solid #020000f8;
        padding-left: 10px;
        padding-bottom: 10px;

        .itemText {
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }
}