.item {
    border-radius: 7px;
    background-color: #535151;
    padding: 7px;

    .title {
        text-align: center;
        margin-bottom: 10px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .itemInfo {
            max-width: 140px;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            border-radius: 7px;
            background-color: #282936;
            padding: 7px 10px;

            .itemName {
                font-weight: 600;
            }

            .itemColor {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-weight: 400;
                font-size: 12px;
                text-transform: lowercase;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .itemBidRubles {}

        }
    }
}