.settings {
}
.pvzWrapper {
  margin: 7px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 7px;
  background-color: var(--mainColor);
}
label {
  display: flex;
  gap: 7px;
}
