.settings {}

.pvzWrapper {
  margin: 7px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 7px;
  background-color: var(--secondary-background);
}

label {
  display: flex;
  gap: 7px;
}

.themeWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  padding: 7px;
  border-radius: 7px;
  background-color: var(--secondary-background);
}