:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mainColor: rgb(27, 18, 18);
  --textColor: rgb(255, 255, 255);
}

[data-theme="light"] {
  --background: #ffffff;
  --secondary-background: #f0f0f0;
  --another-background: #ffffff;
  --text: #000000;
  --accent: #bd8ceb;
  --secondary-text: #dfdede;
  --buttonColor: #1976d2;
  --statColorResult: #FF6B6B;
  --statColorFines: #4ECDC4;
  --statColorBonus: #cea444;
  --statColorFinalResult: #A5BECC;
}

[data-theme="dark"] {
  --background: #121212;
  --secondary-background: #383838;
  --another-background: #3f3d3d;
  --text: #ffffff;
  --accent: #919290;
  --secondary-text: #2b2a2a;
  --buttonColor: #1565c0;
  --statColorResult: #FF6B6B;
  --statColorFines: #4ECDC4;
  --statColorBonus: #cea444;
  --statColorFinalResult: #A5BECC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

ul {
  list-style: none;
}

button {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttonColor);
  border: none;
  padding: 7px 10px;
  border-radius: 7px;
  color: var(--text);
  cursor: pointer;
}