:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mainColor: rgb(27, 18, 18);
  --textColor: rgb(255, 255, 255);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainColor);
  color: var(--textColor);
}

ul {
  list-style: none;
}