:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mainColor: rgb(27, 18, 18);
  --textColor: rgb(255, 255, 255);
}

[data-theme="light"] {
  --background: #ffffff;
  --secondary-background: #f0f0f0;
  --text: #000000;
  --accent: #bd8ceb;
  --secondary-text: #dfdede;
}

[data-theme="dark"] {
  --background: #121212;
  --secondary-background: #383838;
  --text: #ffffff;
  --accent: #919290;
  --secondary-text: #2b2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

ul {
  list-style: none;
}