.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.item {
    position: relative;
    background-color: #585757;
    padding: 7px;
    border-radius: 7px;
}

button {
    padding: 0.75rem;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.item {
    background-color: #2d2d2d;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem 0;
    color: #ffffff;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding-top: 7px;
    width: 170px;
    overflow: hidden;

    .itemName {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }

    .itemColor {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }




    &:hover {
        transform: translateY(-2px); // Легкий подъем при наведении
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Увеличенная тень
    }

    p {
        margin: 0.5rem 0; // Отступы между параграфами
        font-size: 14px; // Размер текста
        color: #e0e0e0; // Светло-серый текст для лучшей читаемости

        &:first-child {
            font-size: 1.1rem; // Увеличенный размер для имени
            font-weight: bold; // Жирный шрифт для имени
            color: #ffffff; // Белый цвет для имени
        }
    }

    .deleteIcon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 7px 0 0 0;
        background-color: #bb3b3b;
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
            color: #ff1a1a; // Более яркий красный при наведении
        }
    }
}