.statWrap{
    margin-top: 7px;
    margin-bottom: 60px;
}
.tableWrap, .infoWrap{
    margin: 7px;
    padding: 7px;
    border-radius: 7px;
    background-color: #363636;
}
.inptMonth{
    display: inline-block;
    margin-left: auto;
    padding: 7px 10px;
    height: 48.5px;
    background-color: #585757;
    border: none;
    outline: none;
    border-radius: 7px;
    color: aliceblue;
}
.statTable {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .tableItem {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #000;
        padding-block: 7px;
    }
    .name, .itemMoney{
        max-width: 150px;
        width: 100%;
    }
    .hours{
        margin: 0 auto;
    }
.itemMoney{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

}

.explaneTable{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 15px 0;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #000;
    .explaneResult, .explaneFines, .explaneBonus, .explaneFinalResult{
        position: relative;
        padding-left: 57px;
        font-size: 12px;
        color: #6b6a6a;
    }
    
}
.explaneResult::before, .explaneFines::before, .explaneBonus::before, .explaneFinalResult::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
    width: 40px;
    height: 7px;
    
}
.explaneResult::before , .activeRes{
    background-color: #0b126b;
}
.explaneFines::before, .activeFines{
background-color: #88081d;
}
.explaneBonus::before, .activeBonus{
background-color: rgb(41, 92, 75);
}
.explaneFinalResult::before, .activeFinalRes{
    background-color: #166107;
}