.statWrap {
  position: relative;
  margin-top: 7px;
  margin-bottom: 60px;
  color: var(--text);
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 7px;
}

.tableWrap,
.infoWrap,
.innerCurSettings {
  margin: 7px;
  padding: 7px;
  border-radius: 7px;
  background-color: var(--secondary-background);
  color: var(--text);
}

.innerCurSettings {
  position: relative;
}

.filters {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 7px;
  border-radius: 7px;
  background-color: var(--another-background);
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1000;
}

.inptMonth {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px 10px;
  height: 48.5px;
  background-color: var(--secondary-background);
  outline: none;
  border-radius: 7px;
  color: var(--text);
  border: 1px solid var(--accent);
  height: 57px;
}

.customDate input {
  border: 1px solid var(--accent);
  height: 57px;
}

.buttonShow {
  padding: 10px 14px;
  font-size: 16px;
  min-width: 50%;
}

.statTable {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .tableItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-block: 7px;
  }

  .name,
  .itemMoney {
    max-width: 150px;
    width: 33.3%;
  }

  .hours {
    position: relative;
    margin: 0 auto;
  }

  .hours::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 2px;
    background-color: var(--statColorResult);
    rotate: 45deg;
    transition: all 0.2s ease;
  }

  .hours::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 2px;
    background-color: var(--statColorResult);
    rotate: 135deg;
    transition: all 0.2s ease;
  }

  .hoursOpen {
    position: relative;
    margin: 0 auto;
  }

  .hoursOpen::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 2px;
    background-color: #4411b9;
    rotate: -45deg;
    transition: all 0.2s ease;
  }

  .hoursOpen::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 2px;
    background-color: #4411b9;
    transform: all 0.2s ease;
    rotate: -135deg;
    transition: all 0.2s ease;
  }

  .itemMoney {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    color: #dfdede;
  }
}

.explaneTable {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 15px 0;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #000;

  .explaneResult,
  .explaneFines,
  .explaneBonus,
  .explaneFinalResult {
    position: relative;
    padding-left: 57px;
    font-size: 12px;
    color: #6b6a6a;
  }
}

.explaneResult::before,
.explaneFines::before,
.explaneBonus::before,
.explaneFinalResult::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  width: 40px;
  height: 7px;
}

.explaneResult::before,
.activeRes {
  background-color: var(--statColorResult);
  border-radius: 3px;
  padding: 3px;
}

.explaneFines::before,
.activeFines {
  background-color: var(--statColorFines);
  border-radius: 3px;
  padding: 3px;
}

.explaneBonus::before,
.activeBonus {
  background-color: var(--statColorBonus);
  border-radius: 3px;
  padding: 3px;
}

.explaneFinalResult::before,
.activeFinalRes {
  background-color: var(--statColorFinalResult);
  border-radius: 3px;
  padding: 3px;
}

.innerFiltersActive {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  border-radius: 7px;
  background-color: var(--secondary-background);
  max-width: 473px;
  width: 100%;
  min-height: 50dvh;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.innerFiltersActive select {
  border: 1px solid var(--accent);
  display: flex;
}

.innerFiltersHide {
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  border-radius: 7px;
  background-color: var(--secondary-background);
  max-width: 473px;
  width: 100%;
  min-height: 50dvh;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.customDateWrong {
  outline: 2px solid red;
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.customDate {
  outline: 2px solid transparent;
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dateWrapBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-block: 14px;
}

.dateWrapBtn button {
  border: 1px solid var(--accent);
  margin: 0;
}

.detailItem,
.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-block: 7px;
}

.detailItem:nth-child(even) {
  background-color: var(--statColorFinalResult);
  border-radius: 3px;
}

.detailItem p {
  width: 14%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsHeader {
  font-weight: 600;
}

.detailsHeader p {
  width: 14%;
  text-align: center;
}

.detailsWrapHide {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.detailsWrapShow {
  height: 100%;
  opacity: 1;
  visibility: visible;
}